<h1 class="ui teal ribbon massive label">Listing elections</h1>

<table class="ui celled table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Hillary Clinton</th>
    <th>Martin O'malley</th>
    <th>Bernie Sanders</th>
    <th>Jeb Bush</th>
    <th>Ben Carson</th>
    <th>Chris Christie</th>
    <th>Ted Cruz</th>
    <th>Carly Fiorina</th>
    <th>Mike Huckabee</th>
    <th>John Kasich</th>
    <th>Rand Paul</th>
    <th>Marco Rubio</th>
    <th>Rick Santorum</th>
    <th>Donald Trump</th>
    <!--<th colspan="3">Actions</th>-->
  </tr>
  </thead>

  <tbody>
  <% @elections.each do |election| %>
      <tr>
        <td><%= election.first_name %></td>
        <td><%= election.last_name %></td>
        <td>
          <% if election.hillary_clinton? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.martin_omalley? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.bernie_sanders? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.jeb_bush? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.ben_carson? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.chris_christie? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.ted_cruz? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.carly_fiorina? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.mike_huckabee? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.john_kasich? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.rand_paul? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.marco_rubio? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.rick_santorum? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <td class="center aligned">
          <% if election.donald_trump? %>
              <i class="large green checkmark icon"></i>
          <% end %>
        </td>
        <!--<td><%= link_to 'Show', election %></td>-->
        <!--<td><%= link_to 'Edit', edit_election_path(election) %></td>-->
        <!--<td><%= link_to 'Destroy', election, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>

  <tfoot>
  <% if (@elections.count % 10) >= 1 then %>
      <% @pages = (@elections.count / 10) %>
  <% else %>
      <% @pages = (@elections.count / 10) - 1 %>
  <% end %>
  <tr>
    <th colspan="16">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <% (0..@pages).each do |item| %>
            <a class="item"><%= item+1 %></a>
        <% end %>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr>
  </tfoot>
</table>

<br>
<%= link_to 'New Election', new_election_path, :class => 'ui primary button left floated' %>
<%= link_to 'Results', 'elections/result', :class => 'ui right floated green button' %>

<br>
<br>
<br>