<% if flash[:notice] %>
    <div class="ui green message" id="notice"><%= notice %></div>
<% end %>
<table class="ui definition table">
  <tdbody>
    <tr>
      <td class="two wide column">First name:</td>
      <td><%= @election.first_name %></td>
    </tr>

    <tr>
      <td>Last name:</td>
      <td><%= @election.last_name %></td>
    </tr>

    <p>
      <% if @election.hillary_clinton? %>
        <td>Hillary clinton:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.martin_omalley? %>
        <td>Martin omalley:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.bernie_sanders? %>
        <td>Bernie sanders:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.jeb_bush? %>
        <td>Jeb bush:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.ben_carson? %>
        <td>Ben carson:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.chris_christie? %>
        <td>Chris christie:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.ted_cruz? %>
        <td>Ted cruz:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.carly_fiorina? %>
        <td>Carly fiorina:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.mike_huckabee? %>
        <td>Mike huckabee:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.john_kasich? %>
        <td>John kasich:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.rand_paul? %>
        <td>Rand paul:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.marco_rubio? %>
        <td>Marco rubio:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.rick_santorum? %>
        <td>Rick santorum:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>

    <p>
      <% if @election.donald_trump? %>
        <td>Donald trump:</td>
        <td><i class="large green checkmark icon"></i></td>
    <% end %>
    </p>
  </tdbody>
</table>

<div class="ui buttons">
  <%= link_to 'Back', elections_path, :class => 'ui button' %>
  <div class="or"></div>
  <%= link_to 'Edit', edit_election_path(@election), :class => 'ui primary button' %>
</div>
