<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @election.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @election.last_name %>
</p>

<p>
  <strong>Hillary clinton:</strong>
  <%= @election.hillary_clinton %>
</p>

<p>
  <strong>Martin omalley:</strong>
  <%= @election.martin_omalley %>
</p>

<p>
  <strong>Bernie sanders:</strong>
  <%= @election.bernie_sanders %>
</p>

<p>
  <strong>Jeb bush:</strong>
  <%= @election.jeb_bush %>
</p>

<p>
  <strong>Ben carson:</strong>
  <%= @election.ben_carson %>
</p>

<p>
  <strong>Chris christie:</strong>
  <%= @election.chris_christie %>
</p>

<p>
  <strong>Ted cruz:</strong>
  <%= @election.ted_cruz %>
</p>

<p>
  <strong>Carly fiorina:</strong>
  <%= @election.carly_fiorina %>
</p>

<p>
  <strong>Mike huckabee:</strong>
  <%= @election.mike_huckabee %>
</p>

<p>
  <strong>John kasich:</strong>
  <%= @election.john_kasich %>
</p>

<p>
  <strong>Rand paul:</strong>
  <%= @election.rand_paul %>
</p>

<p>
  <strong>Marco rubio:</strong>
  <%= @election.marco_rubio %>
</p>

<p>
  <strong>Rick santorum:</strong>
  <%= @election.rick_santorum %>
</p>

<p>
  <strong>Donald trump:</strong>
  <%= @election.donald_trump %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
